torch>=2.6.0
torchvision
torchmetrics
torchaudio
torchinfo
tf-keras
tensorflow
transformers>=4.48
accelerate>=1.1.0
datasets
einops
numpy==1.26.1
pandas
scikit-learn
scipy
wandb
peft
matplotlib
peft
seaborn
matplotlib
pauc
uncertainty-calibration
fair-esm==2.0.0
PyYAML
git+https://github.com/jlparkI/uncertaintyAwareDeepLearn@0.0.5